<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
    <name replace-wildcards="yes">%h Neutrino Web Service</name>
    <service>
        <type>_neutrino-http._tcp</type>
        <port>80</port>
    </service>
</service-group>
